<section class="box bg-slate-200 mt-14 rounded-2xl">
    <div class="flex flex-col items-center pt-11 pb-11">
        <p class="lg:text-2xl sm:text-lg font-semibold pb-5">WELCOME TO NEWSY</p>
        <p class="lg:text-4xl font-bold lg:flex">Craft narrative <span class="lg:px-3 sm:px-0"><img class="w-full h-auto max-w-[40px]"
                    src="https://cdn-icons-png.flaticon.com/512/1170/1170170.png " alt=""></span> that ignite <span
                class="text-red-600 lg:px-4 sm:px-0">inspiration</span> <span><img class="w-full h-auto max-w-[40px]"
                    src="https://cdn-icons-png.flaticon.com/512/1172/1172575.png " alt=""></span></p>
        <p class="lg:text-4xl font-bold lg:flex lg:pt-3"> <span class="text-red-600">knowledge</span> <span class="lg:px-3 sm:px-0"><img class="w-full h-auto max-w-[35px]" src="https://cdn-icons-png.flaticon.com/512/3145/3145755.png " alt=""></span> and <span
                class="text-red-600 lg:px-4 sm:px-0">entertainment</span> <span class="lg:px-3 sm:px-0"><img class="w-full h-auto max-w-[40px]" src="https://cdn-icons-png.flaticon.com/512/3163/3163478.png" alt=""></span></p>
    </div>
</section>