<section class="box bg-slate-200 mt-14 rounded-2xl">
    <div class="flex flex-col items-center pt-11 pb-11">
        <p class="text-2xl font-semibold pb-5">WELCOME TO NEWSY</p>
        <p class="text-4xl font-bold flex">Craft narrative <span class="px-3"><img class="h-10 w-10"
                    src="https://cdn-icons-png.flaticon.com/512/1170/1170170.png " alt=""></span> that ignite <span
                class="text-red-600 px-4">inspiration</span> <span class="px-3"><img class="h-10 w-10"
                    src="https://cdn-icons-png.flaticon.com/512/1172/1172575.png " alt=""></span>,</p>
        <p class="text-4xl font-bold flex"> <span class="text-red-600">knowledge</span> <span class="px-3"><img class="h-10 w-10" src="https://cdn-icons-png.flaticon.com/512/3145/3145755.png " alt=""></span>, and <span
                class="text-red-600 px-4">entertainment</span> <span class="px-3"><img class="h-10 w-10" src="https://cdn-icons-png.flaticon.com/512/3163/3163478.png" alt=""></span></p>
    </div>
</section>