<section class="box pt-14">
    <div class="grid grid-cols-1 lg:grid-cols-2 bg-slate-200 rounded-2xl">
        <div class="pl-0 lg:pl-20 py-0 lg:py-20">
            <p class="text-xl font-semibold pb-3">GET FIRST UPDATE</p>
            <P class="text-4xl font-semibold">Get the news in front line by <br> subscribe icon our latest updates</P>
        </div>
        <div class="flex flex-col justify-center w-full max-w-md">
            <form class="flex">
                <input class="pr-0 lg:pr-52 text-xl pl-5 rounded-l-xl" type="email" placeholder="Enter your email address">
                <button class="py-4 px-5 text-xl bg-red-600 rounded-r-xl font-semibold text-white">Subscribe</button>
            </form>
        </div>
    </div>
</section>
