<section class="box pt-14">
    <div class="flex items-center pb-8">
        <p class="text-3xl lg:text-5xl font-bold">Must Read</p>
        <p class="text-red-700 font-bold text-base lg:text-xl ml-auto">See all arrow</p>
    </div>
    <div class="grid grid-cols-[repeat(12,_1fr)]">
        <div class="col-[1/4] bg-[red]">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non aspernatur labore omnis voluptatibus?
            Dignissimos at vero nulla earum magnam. Rem doloribus facere fugiat dicta consequatur rerum ipsam blanditiis
            praesentium quasi!
        </div>
        <div class="col-[4/10]">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat nobis ducimus perspiciatis ullam quas
            quibusdam beatae nemo rerum culpa, nam ea assumenda, eaque recusandae officiis eos, maxime totam eius animi.

        </div>
        <div class="col-[10/-1]">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas sed expedita excepturi cum, fuga
            voluptatem voluptates cupiditate sequi possimus fugit qui quae saepe incidunt mollitia magni explicabo.
            Dicta, labore ex.

        </div>
    </div>
</section>