<section class="box pt-14">
    <div class="flex items-center">
        <p class="text-3xl lg:text-5xl font-bold">Newsy Story</p>
        <p class="text-red-700 font-bold text-base lg:text-xl ml-auto">See all arrow</p>
    </div>
    <div class="grid gap-[5px] grid-cols-[repeat(auto-fit,_minmax(100px,_1fr))] pt-10">
        <div class="flex flex-col items-center gap-2">
            <img class="h-16 w-16 lg:h-32 lg:w-32 rounded-full object-cover" src="https://images.ctfassets.net/y2ske730sjqp/5QQ9SVIdc1tmkqrtFnG9U1/de758bba0f65dcc1c6bc1f31f161003d/BrandAssets_Logos_02-NSymbol.jpg?w=940" alt="">
            <p class="text-xl font-semibold">Netflix</p>
        </div>
       <div class="flex flex-col items-center gap-2">
            <img class="h-16 w-16 lg:h-32 lg:w-32 rounded-full object-cover" src="https://images.ctfassets.net/y2ske730sjqp/5QQ9SVIdc1tmkqrtFnG9U1/de758bba0f65dcc1c6bc1f31f161003d/BrandAssets_Logos_02-NSymbol.jpg?w=940" alt="">
            <p class="text-xl font-semibold">Netflix</p>
        </div>
       <div class="flex flex-col items-center gap-2">
            <img class="h-16 w-16 lg:h-32 lg:w-32 rounded-full object-cover" src="https://images.ctfassets.net/y2ske730sjqp/5QQ9SVIdc1tmkqrtFnG9U1/de758bba0f65dcc1c6bc1f31f161003d/BrandAssets_Logos_02-NSymbol.jpg?w=940" alt="">
            <p class="text-xl font-semibold">Netflix</p>
        </div>
       <div class="flex flex-col items-center gap-2">
            <img class="h-16 w-16 lg:h-32 lg:w-32 rounded-full object-cover" src="https://images.ctfassets.net/y2ske730sjqp/5QQ9SVIdc1tmkqrtFnG9U1/de758bba0f65dcc1c6bc1f31f161003d/BrandAssets_Logos_02-NSymbol.jpg?w=940" alt="">
            <p class="text-xl font-semibold">Netflix</p>
        </div>
       <div class="flex flex-col items-center gap-2">
            <img class="h-16 w-16 lg:h-32 lg:w-32 rounded-full object-cover" src="https://images.ctfassets.net/y2ske730sjqp/5QQ9SVIdc1tmkqrtFnG9U1/de758bba0f65dcc1c6bc1f31f161003d/BrandAssets_Logos_02-NSymbol.jpg?w=940" alt="">
            <p class="text-xl font-semibold">Netflix</p>
        </div>
       <div class="flex flex-col items-center gap-2">
            <img class="h-16 w-16 lg:h-32 lg:w-32 rounded-full object-cover" src="https://images.ctfassets.net/y2ske730sjqp/5QQ9SVIdc1tmkqrtFnG9U1/de758bba0f65dcc1c6bc1f31f161003d/BrandAssets_Logos_02-NSymbol.jpg?w=940" alt="">
            <p class="text-xl font-semibold">Netflix</p>
        </div>
       <div class="flex flex-col items-center gap-2">
            <img class="h-16 w-16 lg:h-32 lg:w-32 rounded-full object-cover" src="https://images.ctfassets.net/y2ske730sjqp/5QQ9SVIdc1tmkqrtFnG9U1/de758bba0f65dcc1c6bc1f31f161003d/BrandAssets_Logos_02-NSymbol.jpg?w=940" alt="">
            <p class="text-xl font-semibold">Netflix</p>
        </div>
       <div class="flex flex-col items-center gap-2">
            <img class="h-16 w-16 lg:h-32 lg:w-32 rounded-full object-cover" src="https://images.ctfassets.net/y2ske730sjqp/5QQ9SVIdc1tmkqrtFnG9U1/de758bba0f65dcc1c6bc1f31f161003d/BrandAssets_Logos_02-NSymbol.jpg?w=940" alt="">
            <p class="text-xl font-semibold">Netflix</p>
        </div>
       <div class="flex flex-col items-center gap-2">
            <img class="h-16 w-16 lg:h-32 lg:w-32 rounded-full object-cover" src="https://images.ctfassets.net/y2ske730sjqp/5QQ9SVIdc1tmkqrtFnG9U1/de758bba0f65dcc1c6bc1f31f161003d/BrandAssets_Logos_02-NSymbol.jpg?w=940" alt="">
            <p class="text-xl font-semibold">Netflix</p>
        </div>
       <div class="flex flex-col items-center gap-2">
            <img class="h-16 w-16 lg:h-32 lg:w-32 rounded-full object-cover" src="https://images.ctfassets.net/y2ske730sjqp/5QQ9SVIdc1tmkqrtFnG9U1/de758bba0f65dcc1c6bc1f31f161003d/BrandAssets_Logos_02-NSymbol.jpg?w=940" alt="">
            <p class="text-xl font-semibold">Netflix</p>
        </div>
    </div>
    
</section>
