<section class="box pt-14">
    <div class="flex items-center">
        <p class="text-3xl lg:text-5xl font-bold">Top Creator</p>
        <p class="text-red-600 font-bold text-base lg:text-xl ml-auto flex gap-4 items-center">See all <span><svg
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="#e61414" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-arrow-right">
                    <path d="M5 12h14" />
                    <path d="m12 5 7 7-7 7" />
                </svg></span>
        </p>
    </div>
    <div class="grid grid-cols-1 pt-10 place-items-center lg:grid-cols-4" >
        <div>
            <div class="flex items-center gap-5 pb-4">
                <div>
                    <img class="h-28 w-28 rounded-full object-cover"
                        src="https://images.ctfassets.net/y2ske730sjqp/5QQ9SVIdc1tmkqrtFnG9U1/de758bba0f65dcc1c6bc1f31f161003d/BrandAssets_Logos_02-NSymbol.jpg?w=940"
                        alt="">
                </div>
                <div>
                    <p class="text-4xl font-semibold">Alex Young</p>
                    <p class="text-2xl text-red-600 font-bold">BBC News</p>
                </div>
            </div>
        </div>
        <div>
            <div class="flex items-center gap-5 pb-4">
                <div>
                    <img class="h-28 w-28 rounded-full object-cover"
                        src="https://images.ctfassets.net/y2ske730sjqp/5QQ9SVIdc1tmkqrtFnG9U1/de758bba0f65dcc1c6bc1f31f161003d/BrandAssets_Logos_02-NSymbol.jpg?w=940"
                        alt="">
                </div>
                <div>
                    <p class="text-4xl font-semibold">Alex Young</p>
                    <p class="text-2xl text-red-600 font-bold">BBC News</p>
                </div>
            </div>
        </div>
        <div>
            <div class="flex items-center gap-5 pb-4">
                <div>
                    <img class="h-28 w-28 rounded-full object-cover"
                        src="https://images.ctfassets.net/y2ske730sjqp/5QQ9SVIdc1tmkqrtFnG9U1/de758bba0f65dcc1c6bc1f31f161003d/BrandAssets_Logos_02-NSymbol.jpg?w=940"
                        alt="">
                </div>
                <div>
                    <p class="text-4xl font-semibold">Alex Young</p>
                    <p class="text-2xl text-red-600 font-bold">BBC News</p>
                </div>
            </div>
        </div>
        <div>
            <div class="flex items-center gap-5 pb-4">
                <div>
                    <img class="h-28 w-28 rounded-full object-cover"
                        src="https://images.ctfassets.net/y2ske730sjqp/5QQ9SVIdc1tmkqrtFnG9U1/de758bba0f65dcc1c6bc1f31f161003d/BrandAssets_Logos_02-NSymbol.jpg?w=940"
                        alt="">
                </div>
                <div>
                    <p class="text-4xl font-semibold">Alex Young</p>
                    <p class="text-2xl text-red-600 font-bold">BBC News</p>
                </div>
            </div>
        </div>
    </div>
</section>
